<?php

return
[
  'enabled'   => true,
  'settings'  =>
  [
    'host'      => 'localhost',
    'driver'    => 'mysql',
    'database'  => 'pdemo',
    'username'  => 'root',
    'password'  => '',
    'port'      => '3306',
    'charset'   => 'utf8',
    'collation' => 'utf8_unicode_ci',
    'prefix'    => '',
  ]
];